@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: hsl(234, 12%, 34%);
  --gray-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: var(--light-gray);
}

.container {
  max-width: 1440px;
  margin: 100px auto;
  text-align: center;
}

.container-md {
  max-width: 375px;
  margin: 0 auto;
}

.container > h1 {
  font-weight: 200;
  color: var(--dark-blue);
}

.container > h2 {
  color: var(--dark-blue);
  font-size: 28px;
}

.container > p {
  max-width: 520px;
  margin: 20px auto;
  color: var(--gray-blue);
}

.card-container {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: center;
  max-width: 100%;
}

.card {
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 8px 20px var(--gray-blue);
  margin: 10px;
  padding: 30px 20px;
  border-radius: 4px;
}

.card:nth-of-type(1) {
  border-top: 4px solid var(--cyan);
  grid-row-start: span 2;
  align-self: center;
  justify-self: end;
  order: 1;
}

.card:nth-of-type(2) {
  border-top: 4px solid var(--red);
  order: 2;
}

.card:nth-of-type(3) {
  border-top: 4px solid var(--orange);
  order: 4;
}

.card:nth-of-type(4) {
  border-top: 4px solid var(--blue);
  grid-row-start: span 2;
  align-self: center;
  justify-self: start;

  order: 3;
}

.card-text {
  text-align: left;
  max-width: 85%;
}

.card-text p:nth-of-type(1) {
  font-weight: 700;
  color: var(--dark-blue);
  font-size: 20px;
  margin-bottom: 16px;
}

.card-text p:nth-of-type(2) {
  font-weight: 200;
  color: var(--gray-blue);
  line-height: 1.8;
  margin-bottom: 20px;
}

.card-img {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 720px) {
  .container {
    max-width: 376px;
    padding: 0 12px;
  }

  .container > h1 {
    font-size: 20px;
  }

  .container > h2 {
    font-size: 20px;
  }

  .container > p {
    font-size: 13px;
  }

  .card-container {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    grid-gap: 10px;
  }

  .card:nth-of-type(1) {
    justify-self: unset;
  }

  .card:nth-of-type(4) {
    justify-self: unset;
  }
}
